<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>New Client Enquiry</h1>
    <table style="width: 100%;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Email-Id</th>
            <th>Message</th> 
        </tr>
        <%  users.forEach(user =>{ %> 
        <tr>
            <td><%= user.fName %></td>
            <td><%= user.lName %></td>
            <td><%= user.usermail %></td>
            <td><%= user.message %></td>
            
        </tr>
        <% }) %> 

    </table>
</body>
</html>